<div class="sticky-checkout-container  mt-auto sticky bottom-0 bg-white border-t border-gray-200 py-6">
  <div class="page-width">
    <div class="flex items-center justify-between gap-4">
      <div class="">
        <div class="flex items-center gap-4">
          <p class="text-xl font-medium">
            {{ 'sections.cart.estimated_total' | t }}
          </p>
          <p
            class="text-2xl font-bold text-[#01756E]"
            id="sticky-cart-total"
          ></p>
        </div>
        <p
          class="text-lg text-red-600 text-start checkout-warning mt-1"
          style="display: none;"
        >
          ⚠️ Please meet the minimum order requirements for all product types to
          proceed to checkout.
        </p>
      </div>
      <button
        type="submit"
        id="sticky-checkout-button"
        class="flex-0 px-8 py-4 text-xl font-bold text-white rounded-md bg-gradient-to-r from-[#01756E] via-[#01A89E] to-[#00CFC8] hover:from-[#01635D] hover:via-[#018F87] hover:to-[#00B8B2] hover:shadow-md hover:-translate-y-0.5 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#01A89E] disabled:opacity-70 disabled:cursor-not-allowed disabled:transform-none whitespace-nowrap"
        name="checkout"
        form="cart"
      >
        {{ 'sections.cart.checkout' | t }}
      </button>
    </div>
  </div>
</div>
